# Core packages for Airflow ETL container
pyspark==3.5.2   # For Spark jobs
faker            # For synthetic data generation in faker_seed.py
pyarrow

# dbt stack 
dbt-core
dbt-redshift
dbt-duckdb

# Airflow providers (2.10+)
apache-airflow-providers-amazon
apache-airflow-providers-postgres

# PG driver
psycopg2==2.9.10